.popup {
    animation: fadeIn 1s ease-in-out;
  }
  
  .popup-success {
    background-color: #38a169; /* Green */
  }
  
  .popup-error {
    background-color: #e53e3e; /* Red */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .popup.fade-out {
    animation: fadeOut 1s ease-in-out;
  }
  