.loader {
  width: 300px; /* Make the loader bigger */
  height: 300px; /* Adjust the size */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
